### C ###
# requisitos previos
*.D

# archivos de objetos
*.o
*.ko
*.obj
*.duende

# Salida del enlazador
*.ilk
*.mapa
*.Exp

# encabezados precompilados
*.gch
*.pch

# Bibliotecas
*.lib
*.a
*.la
*.lo

# Objetos compartidos (incluidas las DLL de Windows)
*.dll
*.entonces
*.entonces.*
*.dylib

# ejecutables
*.exe
*.fuera
*.aplicación
*.i*86
*.x86_64
*.maleficio

# Archivos de depuración
*.dSYM/
*.su
*.idb
*.pdb

# Resultados de la compilación del módulo Kernel
*.modificación*
*.cmd
.tmp_versiones/
módulos.pedir
Módulo.symvers
Mkfile.antiguo
dkms.conf

### VisualStudioCode ###
.vscode/*
!.vscode/configuración.json
!.vscode/tareas.json
!.vscode/lanzamiento.json
!.vscode/extensiones.json
!.vscode/*.fragmentos de código

# Historial local para Visual Studio Code
.historia/

# Extensiones de código de Visual Studio integradas
*.vsix

### Parche de VisualStudioCode ###
# Ignorar todo el historial local de archivos
.historia
.ionuro